CryptoClient/Connected Services/ServiceReference/CryptoServer.Helper.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFileExtend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileExtend" nillable="true" type="tns:FileExtend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileExtend" nillable="true" type="tns:ArrayOfFileExtend" />
  <xs:complexType name="FileExtend">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileExtend" nillable="true" type="tns:FileExtend" />
</xs:schema>