CryptoClient/Connected Services/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CryptoServer" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CryptoServer" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CryptoServer" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AesEncrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" minOccurs="0" name="list" nillable="true" type="q3:ArrayOfFileExtend" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="encFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AesEncryptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AesDecrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" minOccurs="0" name="list" nillable="true" type="q4:ArrayOfFileExtend" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="decFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AesDecryptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="XXTEAEncrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" minOccurs="0" name="list" nillable="true" type="q5:ArrayOfFileExtend" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="encFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XXTEAEncryptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="XXTEADecrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" minOccurs="0" name="list" nillable="true" type="q6:ArrayOfFileExtend" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="decFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XXTEADecryptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RC6Encrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" minOccurs="0" name="list" nillable="true" type="q7:ArrayOfFileExtend" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="encFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RC6EncryptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RC6Decrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" minOccurs="0" name="list" nillable="true" type="q8:ArrayOfFileExtend" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="decFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RC6DecryptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AesEncryptP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" minOccurs="0" name="list" nillable="true" type="q9:ArrayOfFileExtend" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="encFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AesEncryptPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AesDecryptP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" minOccurs="0" name="list" nillable="true" type="q10:ArrayOfFileExtend" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="decFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AesDecryptPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="XXTEAEncryptP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" minOccurs="0" name="list" nillable="true" type="q11:ArrayOfFileExtend" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="encFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XXTEAEncryptPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="XXTEADecryptP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" minOccurs="0" name="list" nillable="true" type="q12:ArrayOfFileExtend" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="decFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XXTEADecryptPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RC6EncryptP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" minOccurs="0" name="list" nillable="true" type="q13:ArrayOfFileExtend" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="encFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RC6EncryptPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RC6DecryptP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" minOccurs="0" name="list" nillable="true" type="q14:ArrayOfFileExtend" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="decFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RC6DecryptPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>