CryptoClient/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CryptoServer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CryptoServer.Helper" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AesEncrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:AesEncrypt" />
  </wsdl:message>
  <wsdl:message name="IService_AesEncrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:AesEncryptResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AesDecrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:AesDecrypt" />
  </wsdl:message>
  <wsdl:message name="IService_AesDecrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:AesDecryptResponse" />
  </wsdl:message>
  <wsdl:message name="IService_XXTEAEncrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:XXTEAEncrypt" />
  </wsdl:message>
  <wsdl:message name="IService_XXTEAEncrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:XXTEAEncryptResponse" />
  </wsdl:message>
  <wsdl:message name="IService_XXTEADecrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:XXTEADecrypt" />
  </wsdl:message>
  <wsdl:message name="IService_XXTEADecrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:XXTEADecryptResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RC6Encrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:RC6Encrypt" />
  </wsdl:message>
  <wsdl:message name="IService_RC6Encrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC6EncryptResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RC6Decrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:RC6Decrypt" />
  </wsdl:message>
  <wsdl:message name="IService_RC6Decrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC6DecryptResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AesEncryptP_InputMessage">
    <wsdl:part name="parameters" element="tns:AesEncryptP" />
  </wsdl:message>
  <wsdl:message name="IService_AesEncryptP_OutputMessage">
    <wsdl:part name="parameters" element="tns:AesEncryptPResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AesDecryptP_InputMessage">
    <wsdl:part name="parameters" element="tns:AesDecryptP" />
  </wsdl:message>
  <wsdl:message name="IService_AesDecryptP_OutputMessage">
    <wsdl:part name="parameters" element="tns:AesDecryptPResponse" />
  </wsdl:message>
  <wsdl:message name="IService_XXTEAEncryptP_InputMessage">
    <wsdl:part name="parameters" element="tns:XXTEAEncryptP" />
  </wsdl:message>
  <wsdl:message name="IService_XXTEAEncryptP_OutputMessage">
    <wsdl:part name="parameters" element="tns:XXTEAEncryptPResponse" />
  </wsdl:message>
  <wsdl:message name="IService_XXTEADecryptP_InputMessage">
    <wsdl:part name="parameters" element="tns:XXTEADecryptP" />
  </wsdl:message>
  <wsdl:message name="IService_XXTEADecryptP_OutputMessage">
    <wsdl:part name="parameters" element="tns:XXTEADecryptPResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RC6EncryptP_InputMessage">
    <wsdl:part name="parameters" element="tns:RC6EncryptP" />
  </wsdl:message>
  <wsdl:message name="IService_RC6EncryptP_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC6EncryptPResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RC6DecryptP_InputMessage">
    <wsdl:part name="parameters" element="tns:RC6DecryptP" />
  </wsdl:message>
  <wsdl:message name="IService_RC6DecryptP_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC6DecryptPResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AesEncrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AesEncrypt" message="tns:IService_AesEncrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AesEncryptResponse" message="tns:IService_AesEncrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AesDecrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AesDecrypt" message="tns:IService_AesDecrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AesDecryptResponse" message="tns:IService_AesDecrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XXTEAEncrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/XXTEAEncrypt" message="tns:IService_XXTEAEncrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/XXTEAEncryptResponse" message="tns:IService_XXTEAEncrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XXTEADecrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/XXTEADecrypt" message="tns:IService_XXTEADecrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/XXTEADecryptResponse" message="tns:IService_XXTEADecrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RC6Encrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RC6Encrypt" message="tns:IService_RC6Encrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RC6EncryptResponse" message="tns:IService_RC6Encrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RC6Decrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RC6Decrypt" message="tns:IService_RC6Decrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RC6DecryptResponse" message="tns:IService_RC6Decrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AesEncryptP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AesEncryptP" message="tns:IService_AesEncryptP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AesEncryptPResponse" message="tns:IService_AesEncryptP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AesDecryptP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AesDecryptP" message="tns:IService_AesDecryptP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AesDecryptPResponse" message="tns:IService_AesDecryptP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XXTEAEncryptP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/XXTEAEncryptP" message="tns:IService_XXTEAEncryptP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/XXTEAEncryptPResponse" message="tns:IService_XXTEAEncryptP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XXTEADecryptP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/XXTEADecryptP" message="tns:IService_XXTEADecryptP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/XXTEADecryptPResponse" message="tns:IService_XXTEADecryptP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RC6EncryptP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RC6EncryptP" message="tns:IService_RC6EncryptP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RC6EncryptPResponse" message="tns:IService_RC6EncryptP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RC6DecryptP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RC6DecryptP" message="tns:IService_RC6DecryptP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RC6DecryptPResponse" message="tns:IService_RC6DecryptP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AesEncrypt">
      <soap:operation soapAction="http://tempuri.org/IService/AesEncrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AesDecrypt">
      <soap:operation soapAction="http://tempuri.org/IService/AesDecrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XXTEAEncrypt">
      <soap:operation soapAction="http://tempuri.org/IService/XXTEAEncrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XXTEADecrypt">
      <soap:operation soapAction="http://tempuri.org/IService/XXTEADecrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RC6Encrypt">
      <soap:operation soapAction="http://tempuri.org/IService/RC6Encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RC6Decrypt">
      <soap:operation soapAction="http://tempuri.org/IService/RC6Decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AesEncryptP">
      <soap:operation soapAction="http://tempuri.org/IService/AesEncryptP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AesDecryptP">
      <soap:operation soapAction="http://tempuri.org/IService/AesDecryptP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XXTEAEncryptP">
      <soap:operation soapAction="http://tempuri.org/IService/XXTEAEncryptP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XXTEADecryptP">
      <soap:operation soapAction="http://tempuri.org/IService/XXTEADecryptP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RC6EncryptP">
      <soap:operation soapAction="http://tempuri.org/IService/RC6EncryptP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RC6DecryptP">
      <soap:operation soapAction="http://tempuri.org/IService/RC6DecryptP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CryptoServer/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>